@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{  /*here asterick is used coz its a universal selector it apply the styling on all the tags*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url('https://i.ibb.co/HrfVRcx/menu.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase             /*showcase wraps around everything leaving only the menu part*/
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(51, 98%, 48%);
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
  display: none;
}
.text.active{
  display:block;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h4
{
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.aboutus
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 600;
  max-width: 1650px;
} 

.aboutus tr{
  padding : 450px;
}

.aboutus td{
  padding: 10px;
}

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
  color:rgb(255, 81, 0);
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position:absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
  
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  letter-spacing: 4px;
  color: #f48403; 
}

.slider{
  z-index: 888;
  position : relative;
  display : flex;
  justify-content : center;
  align-items : center;
  transform : translateY(80px);
  margin-bottom: 12px;
}

.slider .nav-btn{
  width : 12px;
  height : 12px;
  background: #fff;
  border-radius:50%;
  cursor : pointer;
  box-shadow:0 0 2px rgba(255, 255, 255, 0.5);
  transition : 0.3s ease; 

}

.slider .nav-btn.active{
  background: #df2f03;

}

.slider .nav-btn:not(:last-child){
    margin-right:20px;
}

.slider .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media (max-width: 798px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
#preloader{
  background:#000 url('preloader2.gif') no-repeat center center;
  background-size:100%;
  height:100vh;
  width:100%;
  position:fixed;
  z-index:999999;
}
.loader{
  border : 0 solid transparent;
  border-radius : 50%;
  width : 150px;
  height : 150px;
  position : absloute;
  top : calc(50vh - 75px);
  left : calc(50vw - 75px);
}

@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity:1;
  }
  100%{
    transform: scale(1);
    opacity:0;
  }
}